
.img-post{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.article-title{
    text-transform: capitalize;
    width: 80%;
}

article{
    width: 80%;
    text-align: justify;
}

article p{
    margin-bottom: 30px;
}

@media (max-width: 768px){
    .img-post{
        height: 250px;
    }
}